
<h1>{{ volume }}</h1>
<h1>{{ verse_reference }}</h1>
<h1>{{ verse_text }}</h1>

<form action="{% url 'index'%}" method="post">
    {% csrf_token %}
    <label for="volume">Choose a volume of scripture:</label>
    <br>
    <select id="volume" name="volume">
        <option value="Old Testament">Old Testament</option>
        <option value="New Testament">New Testament</option>
        <option value="Book of Mormon">Book of Mormon</option>
        <option value="Doctrine and Covenants">Doctrine and Covenants</option>
        <option value="Pearl of Great Price">Pearl of Great Price</option>
    </select>
    <br>
    <br>
    <input type="submit" value="Submit">
</form>